{#
/**
 * @file sc_pub_keyword.html.twig
 * Default theme implementation to present Keyword data.
 *
 * This template is used when viewing Keyword pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sc_pub_keyword()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sc_pub_keyword') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
